/**
{licence}
*/


/* Styles for Cron Jobs Tables */
.CronJobsPlugin #CronJobsList .Title {
	text-align: center;
}

.CronJobsPlugin table tbody {
	border-bottom: 1px solid #A5D0E7;
}

.CronJobsPlugin .Content {
	border-top: 1px solid silver;
}

.CronJobsPlugin .Results table {
	width: 62em;
}

.CronJobsPlugin fieldset p {
	padding-left: 20px;
}

.CronJobsPlugin legend {
	width: 100% !important;
}

#CronResult {
	padding-left: 1em;
}
