/*
Copyright 2012 Diego Zanella IT Services
This file is part of Cron Plugin for Vanilla Forums.

Cron Plugin is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 2 of the License, or (at your option) any later version.
Cron Plugin is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Cron Plugin.  If not, see <http://www.gnu.org/licenses/>.

Contact Diego Zanella at diego [at] pathtoenlightenment [dot] net
*/

/* Styles for Cron Jobs Tables */
.CronJobsPlugin #CronJobsList .Title {
	text-align: center;
}

.CronJobsPlugin table tbody {
	border-bottom: 1px solid #A5D0E7;
}

.CronJobsPlugin .Content {
	border-top: 1px solid silver;
}

.CronJobsPlugin .Results table {
	width: 62em;
}
